<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="APIs">
      <section name="LanguageAPI" type="System.Configuration.NameValueSectionHandler" />
      <section name="LyricsAPI" type="System.Configuration.NameValueSectionHandler" />
      <section name="MusicAPI" type="System.Configuration.NameValueSectionHandler" />
      <section name="PhotographyAPI" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <APIs>
    <LanguageAPI>
      <add key="MSTextAnalyticsK1" value="3d3aa4746bd248fe9c97064712e02e93" />
    </LanguageAPI>
    <LyricsAPI>
      <add key="MusicXMatchKey" value="7304f2f18acb12a2f22f3338c60f3a9f" />
    </LyricsAPI>
    <MusicAPI>
      <add key="SpotifyKey" value="477f1b8f37194360b9744d0d087a1d1b" />
      <add key="SpotifyRedirectUrl" value="http://localhost" />
      <add key="SpotifyListeningPort" value="8000" />
    </MusicAPI>
    <PhotographyAPI>
      <add key="FlickrAPI" value="96a7dc47f0de79ed8c6e0f1498324c7c" />
      <add key="PexelsAPI" value="563492ad6f9170000100000134df28ee283c4ae0bc239fe88f624261" />
    </PhotographyAPI>
  </APIs>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
